.*

target/
node/
node_modules/
node_modules*/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
tmp/
src/main/generated

package-lock.json
local.properties

hs_err_pid*
ehthumbs.db
Thumbs.db
rebel.xml
MANIFEST.MF

*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite

*.zip
*.sh
*.bat
*.tmp
*.bak
*.swp
*~.nib
*.iml
*.launch
*.pydevproject
*.ctxt
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

*.mv.db
*.lock.db

!.gitignore
!.github

!.mvn
!.mvn/jvm.config
!.mvn/wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/apache-maven-3.6.3-bin.zip

!.npmrc
!src/main/asciidoc/.asciidoctorconfig

!doc/*.sql
!src/main/resources/data.sql
